Step 1. Import the necessary libraries
 
Step 2. Create a data dictionary that looks like the DataFrame below
 
Step 3. Assign it to a variable called pokemon
 
evolution	hp	name	pokedex	type
0	Ivysaur	45	Bulbasaur	yes	grass
1	Charmeleon	39	Charmander	no	fire
2	Wartortle	44	Squirtle	yes	water
3	Metapod	45	Caterpie	no	bug

Step 4. Ops...it seems the DataFrame columns are in alphabetical order. Place the order of the columns as name, type, hp, evolution, pokedex
 
Step 5. Add another column called place, and insert what you have in mind.
 
Step 6. Present the type of each column
 
BONUS: Create your own question and answer it.

In [2]:
#Step 1. Import the necessary libraries

import numpy as np
import pandas as pd

In [5]:
#Step 2. Create a data dictionary that looks like the DataFrame below
#Step 3. Assign it to a variable called pokemon

pokemon = [['Ivysaur',45,'Bulbasaur','yes','grass'],
        ['Charmeleon',39,'Charmeander','no','fire'],
        ['Wartortle',44,'Squirtle','yes','water'],
        ['Metapod',45,'Caterpie','no','bug']]
df = pd.DataFrame(data = pokemon, columns= ['evolution','hp','name','pokedex','type'])
print(df)

    evolution  hp         name pokedex   type
0     Ivysaur  45    Bulbasaur     yes  grass
1  Charmeleon  39  Charmeander      no   fire
2   Wartortle  44     Squirtle     yes  water
3     Metapod  45     Caterpie      no    bug

In [8]:
#Step 4. Ops...it seems the DataFrame columns are in alphabetical order. 
# Place the order of the columns as name, type, hp, evolution, pokedex

new_order = ['name','type','hp','evolution','pokedex']
new_df = df[new_order]
print(new_df)

          name   type  hp   evolution pokedex
0    Bulbasaur  grass  45     Ivysaur     yes
1  Charmeander   fire  39  Charmeleon      no
2     Squirtle  water  44   Wartortle     yes
3     Caterpie    bug  45     Metapod      no

In [9]:
#Step 5. Add another column called place, and insert what you have in mind

new_df['place'] = ['New york','Paris','Nairobi','London']
print(new_df)

          name   type  hp   evolution pokedex     place
0    Bulbasaur  grass  45     Ivysaur     yes  New york
1  Charmeander   fire  39  Charmeleon      no     Paris
2     Squirtle  water  44   Wartortle     yes   Nairobi
3     Caterpie    bug  45     Metapod      no    London

C:\Users\Kathleen\AppData\Local\Temp\ipykernel_18904\1651447666.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['place'] = ['New york','Paris','Nairobi','London']

In [12]:
#Step 6. Present the type of each column

new_df.type

0    grass
1     fire
2    water
3      bug
Name: type, dtype: object

In [ ]:
#BONUS: Create your own question and answer it.